In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('venues.db')
c = conn.cursor()

In [5]:
c.execute('''
        UPDATE venues SET photo_url = ? WHERE id = ?''', ('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tourdata.at%2Fdisplay%2Fpic800x%2F5db89ac4bab6ab3544d01faf45d3108b.jpg&f=1&nofb=1&ipt=a747cdbb69233de523d2d6c91486723c2b92ac9c3e9dd56e9d366e7fc288de44&ipo=images', 5))
conn.commit()

In [3]:
c.execute('''
    SET photo_url = ? WHERE id = ?;
''', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmein.toubiz.de%2Fapi%2Fv1%2Farticle%2Fb39f7001-5970-4bd0-9253-443c1dd322c6%2FmainImage%3Fformat%3Dimage%2Fjpeg%26width%3D1900&f=1&nofb=1&ipt=3b2875ae1d15cc46311df771344c633376bcb2dfbd5b78e42672654fb8ecb1e5&ipo=images', 3)

TypeError: execute expected at most 2 arguments, got 3

In [2]:
conn = sqlite3.connect('venues.db')
c = conn.cursor()

c.execute('''
    INSERT INTO venues (name, address, photo_url, playground, fenced, quiet_zones, colors, smells, food_own, defined_duration, quiet, crowdedness, food_variey) VALUES
    ('Adventure Park Voglsam', 'Voglsam 1, 84337 Schönau', 'https://lh3.googleusercontent.com/p/AF1QipN_opfkihmBL6fqWUn8cgbjpanA3yGM0NPqRT0D=s680-w680-h510', 1, 0, 1, 1, 0, 1, 0, 3, 3, 4)
''')

NameError: name 'sqlite3' is not defined

In [10]:
c.execute('SELECT * FROM venues')
rows = c.fetchall()

# Print the results
for row in rows:
    print(row)

(1, 'Bowling-Center Pfarrkirchen', 'Bahnweg 11 A, 84347 Pfarrkirchen', 'https://lh3.googleusercontent.com/p/AF1QipMtaA0fkL4_efmTy3-Lc78gbPhSVQDdbnbcHUUA=s680-w680-h510', 1, 0, 0, 1, 1, 0, 0, 3.0, 2.0, 4.0, None)
(2, 'Adventure Park Voglsam', 'Voglsam 1, 84337 Schönau', 'https://lh3.googleusercontent.com/p/AF1QipN_opfkihmBL6fqWUn8cgbjpanA3yGM0NPqRT0D=s680-w680-h510', 1, 0, 1, 1, 0, 1, 0, 3.0, 3.0, 4.0, None)